{% extends 'basic_layout.html' %}

{% block content %}
    <!-- 带有表格的面板，用于展示部门列表 -->
    <div class="container">
        <div style="margin-bottom: 10px">
            <!-- target="_self"表示在当前页面打开href指向的路径，这是默认选项，target="_blank"表示跳转到新页面打开 -->
            <a class="btn btn-success" href="/upload/add/" target="_self">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 用户上传
            </a>
        </div>
        <!-- 面板 -->
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 用户列表
            </div>
            <!-- 表格 -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>头像</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.age }}</td>
                        <td><img src="/media/{{ obj.avatar }}" height="50px"/></td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/upload/{{ obj.id }}/edit/">
                                <!-- 使用fontawesome的图标 -->
                                <i class="fa fa-edit" aria-hidden="true"></i> 编辑
                            </a>
                            <a class="btn btn-danger btn-xs" href="/upload/{{ obj.id }}/delete">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> 删除
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
