{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
</head>
<body>
<h3>您好 {{ login_user }}，这里是Django学习，欢迎来到首页</h3>
<div>
    <input type="button" class="btn btn-primary" value="新建" />
</div>
<div>
    <ul>
    <span>用户列表：</span>
        <!-- users数据格式：[{"username": "John", "password": "123"}, {"username": "Smith", "password": "456"}] -->
        {% for user in users %}
            <li>{{ user.username }} - {{ user.password }}</li>
        {% endfor %}
    </ul>
    <ol>
        <span>用户元组：</span>
        <!-- user_tuples数据格式：(('John', '123'), ('Smith', '456')) -->
        {% for user in user_tuples %}
        	<li>{{ user.0 }} - {{ user.1 }}</li>
        {% endfor %}

    </ol>
</div>
<form method="post" action="/login/">
    <!-- 此处若不加上 csrf_token，通过post请求提交表单时会报403 Forbidden -->
    {% csrf_token %}
    <input type="text" name="username" placeholder="用户名" />
    <input type="password" name="pwd" placeholder="密码" />
    <input type="submit" value="提 交">
    <span style="color: red">{{ err_msg }}</span>
</form>

<div>
    <img src="{% static 'img/三国演义.jpg' %}" alt="三国演义" style="width: 100px;height: 150px" />
</div>
</body>
</html>